.root {
    -fx-background-color: #808080;
}

.label {
    -fx-text-fill: #FFF;
}

.titleText {
    -fx-text-fill: #FFF;
}

.login-btn {
    -fx-padding: 10px 25px;
    -fx-transition: all 0.3s ease;
}

.login-btn, .button:hover {
    -fx-background-color: #ade6e6;
}